body{
	display:flex;
	flex-direction: column;

}
button{
	text-align: center;
	width: 20%;
	margin-top: 20px;

}
.red{
	color :red;
}
.yellow{
	color:yellow;
}
.blue{
	color:blue;
}